body {
    font-family: niceLooking;
    background-image: url("textbooks.jpg");
    background-size: cover;
}

.center {
    text-align: center;
    align: center;
    font-family: niceLooking;
}

h1 {
    padding-left: 15px;
    padding-right: 0px;
    text-align: center;
    align:center;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 30px;
    margin:15px;
}

input, button {
    font-size: inherit;
    padding: 0.3em
}

#searchIcon{
    float: right;
    width: 70px;
    height: 70px;
    margin-bottom: 0px;
}

input[type=button]{
    display:       inline-block;
    padding:       7px 10px;
    background:    #374653 url('http://dabuttonfactory.com/button.png?w=1&h=44&bgt=gradient&bgc=5e87ac&ebgc=374653') repeat-x;
    background:    -moz-linear-gradient(#5e87ac, #374653);
    background:    -o-linear-gradient(#5e87ac, #374653);
    background:    -webkit-linear-gradient(#5e87ac, #374653);
    background:    linear-gradient(#5e87ac, #374653);
    border-radius: 5px;
    color:         #fff;
    font-family: niceLooking;
    font-size: 25px;
    text-align:    center;
    text-shadow:   1px 1px 0 #000;
}

@font-face {
    font-family: niceLooking;
    src: url("fonts/Kirkuvanpunainenkirsikka.ttf");
}
