body {
  padding-left: 10px;
  font-family: niceLooking;
  line-height: 1.5em;
  font-size: 18pt;
  background-image: url("textbooks.jpg");
  background-size: cover;
}

p{
    padding: 0px;
}

input{
    padding-bottom: 0px;
}

#submit, #cancelButton{
    font-family: niceLooking;
    margin-left: 15px;
    font-size: 25px;
    display: inline-block;
}

@font-face {
    font-family: niceLooking;
    src: url("fonts/Kirkuvanpunainenkirsikka.ttf");
}
