body {
  font-family: hack;
  background-image: url("textbooks.jpg");
  background-size: cover;
}

h2 {
    text-align: center;
    align: center;
}

p {
  padding-left: 20px;
}

#title {
  font-size: 25px;
}

#percentageText {
  font-size: 15px;
}

#searchIcon{
    float: right;
    width: 70px;
    height: 70px;
}

#leaveReview{
    margin-left: 15px;
    font-size: 25px;
    display: inline-block;
}

@font-face {
    font-family: hack;
    src: url("fonts/Hack-Regular.ttf");
}
