body {
  font-family: hack;
}

h2 {
    text-align: center;
    align: center;
}

p {
  padding-left: 20px;
}

#title {
  font-size: 25px;
}

#percentageText {
  font-size: 15px;
}

#searchIcon{
    float: right;
    width: 70px;
    height: 70px;
}



@font-face {
    font-family: hack;
    src: url("fonts/Hack-Regular.ttf");
}
