body {
    font-family: niceLooking;
}

p {
    padding-left: 15px;
    text-align: left;
    font-size: 30px;
}

h1 {
    padding-left: 15px;
    text-align: left;
    font-size: 50px;
}

h2{
    padding-left: 15px;
    text-align: center;
    font-size: 50px;
}

@font-face {
    font-family: niceLooking;
    src: url("fonts/Kirkuvanpunainenkirsikka.ttf");
}
