body {
    font-family: niceLooking;
    background-image: url("textbooks.jpg");
    background-size: cover;
}

p {
    padding-left: 15px;
    text-align: left;
    font-size: 30px;
}

h1 {
    padding-left: 15px;
    text-align: left;
    font-size: 50px;
    display: inline-block;
}

h2{
    padding-left: 15px;
    text-align: center;
    font-size: 50px;
}

#searchIcon{
    float: right;
    width: 70px;
    height: 70px;
}

#readReviews{
    margin-left: 15px;
    font-size: 25px;
    display: inline-block;
}

@font-face {
    font-family: niceLooking;
    src: url("fonts/Kirkuvanpunainenkirsikka.ttf");
}
