.center {
    text-align: center;
    align: center;
    font-family: niceLooking;
}

#textBase {
    font-size: 500%;
}
#subtext {
    font-size: 200%;
}




@font-face {
    font-family: niceLooking;
    src: url("Kirkuvanpunainenkirsikka.ttf");
}
